body{
	background-color: #30336b ;
}
.flex-container{
	height: 120px;
	display: flex;
	background-color:#130f40;
	align-items: center;
	justify-content: space-around;
	border: 3px solid #535c68;
	border-radius: 10px;

}
.caja1{
 
}
.caja2{
	width: 800px;;
	display: flex;
	justify-content: space-evenly;
	color: white;
	font-family: 'Unbounded', cursive;
    
}
.logo{
width: 50%;
}
.button {
    background-color: #4834d4;
    border: none;
	border-radius: 10px;
    color: #ccc;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
	font-family: 'Unbounded', cursive;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}